<div class="col-sm-5 pull-sm-{{opposite_float}} new-session-forms-container">
  <div>
    <ul class="nav nav-links new-session-tabs nav-tabs" role="tablist" ng-init="tab = 1">
      <li role="presentation" ng-class="tab === 1? 'active': ''"><a href data-toggle="tab" role="tab" ng-click="tab = 1" aria-expanded="true">{{ 'LOGIN_FORM.LOGIN' | translate}}</a></li>
      <li role="presentation" ng-class="tab === 2? 'active': ''"><a href data-toggle="tab" role="tab" ng-click="tab = 2" aria-expanded="true">{{ 'REGISTER_FORM.REGISTER' | translate}}</a></li>
    </ul>
    <div class="tab-content">
      <login-form    ng-if="tab === 1"></login-form>
      <register-form ng-if="tab === 2"></register-form>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
