<ul class="list-group nopadding">
  <li role="button" class="list-group-item list-group-item-action h6">
    <i class="fa fa-globe icon_menu_{{default_direction}}" aria-hidden="true"></i>Resume
  </li>
  <li role="button" class="list-group-item list-group-item-action h6" ui-sref="profile.user">
    <i class="fa fa-user icon_menu_{{default_direction}}" aria-hidden="true"></i>My profile
  </li>
  <li role="button" class="list-group-item list-group-item-action h6">
    <i class="fa fa-building icon_menu_{{default_direction}}" aria-hidden="true"></i>Businesses
  </li>
  <li role="button" class="list-group-item list-group-item-action h6">
    <i class="fa fa-shopping-bag icon_menu_{{default_direction}}" aria-hidden="true"></i>Stores
  </li>
  <li role="button" class="list-group-item list-group-item-action h6">
    <i class="fa fa-shopping-basket icon_menu_{{default_direction}}" aria-hidden="true"></i>Promotion
  </li>
</ul>
