
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" ng-click="famosos.getUsers()"><span ng-show="famosos.countReviews.length !== 0" class="badge badge-color">{{famosos.countReviews.length}}</span>Users</button>
  <button type="button" class="btn btn-secondary">Business</button>
  <button type="button" class="btn btn-secondary">Stores</button>
</div>


<table class="table table-bordered table-sm" ng-show="famosos.listUsers">
  <thead>
    <tr>
      <th>#</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Type</th>
      <th>Need Review</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in famosos.listUsers track by $index">
      <th scope="row">{{$index}}</th>
      <td>{{user.name}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.tel}}</td>
      <td>{{user.email}}</td>
      <td>{{user.type}}</td>
      <td>{{user.needreview}}</td>
    </tr>
  </tbody>
</table>
