@font-face {
    font-family: logoFont;
    src: url(../fonts/ARJULIAN.ttf);
    font-weight: bold;
}

.icon_dropdown_ltr{
  padding-right: 18px;
  padding-left: 10px;
}

.icon_dropdown_rtl{
  padding-left: 18px;
  padding-right:10px;
}

.dropdown-item_ltr{
  text-align: left;
}

.dropdown-item_rtl{
  text-align: right;
}
