.nopadding{
  padding:0px;
  margin: 0px;
}

.icon_menu_ltr, .icon_menu_rtl{
  width: 40px;
}
.icon_menu_rtl{
  padding-right: 0px;
  padding-left:  10px;
}
.icon_menu_ltr{
  padding-left: 0px;
  padding-right:10px;
}

.badge-position-ltr, .badge-position-rtl{
  position: relative;
  z-index: 1000;
  top: -50px;
}
.badge-position-ltr{ right: -35px; }
.badge-position-rtl{ left: -35px; }


.fill {
  position: relative;
  width: 100%;
  border:1px solid red;
}
