.nopadding{
  padding:0px;
  margin: 0px;
}

.icon_menu_rtl{
  padding-right: 0px;
  padding-left:  10px;
}

.icon_menu_ltr{
  padding-left: 0px;
  padding-right:10px;
  width: 40px;
}

.badge-position{
  position: relative;
  top: -25px;
  right: -35px;
  z-index: 1000;
}
