<div class="login-box tab-pane active" role="tabpanel">
  <div class="login-body" ng-controller="RegisterCtrl as register">
    <button ng-click="register.Multilingual.changeLanguage('es')" translate="BUTTON_LANG_ES"></button>
    <button ng-click="register.Multilingual.changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
    <button ng-click="register.Multilingual.changeLanguage('ar')" translate="BUTTON_LANG_AR"></button>
    <form class="new_new_user gl-show-field-errors" name="registerform"  method="post" ng-submit="register.registeros()" novalidate>
      <div class="form-group">
        <label for="name">{{ 'REGISTER_FORM.NAME' | translate }}</label>
        <input class="form-control top" id="name" ng-pattern="/^[a-zA-ZàáâäãåąčćēęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĒĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,}$/u" type="text" name="name" ng-model="register.user.name" required/>
        <p ng-show="registerform.name.$invalid && registerform.name.$dirty" class="gl-field-error hide">{{ 'REGISTER_FORM.VALID_NAME' | translate }}</p>
      </div>

      <div class="form-group">
        <label for="lastname">{{ 'REGISTER_FORM.LAST_NAME' | translate }}</label>
        <input class="form-control middle" id="lastname" ng-pattern="/^[a-zA-ZàáâäãåąčćēęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĒĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,}$/u" type="text" name="lastname" ng-model="register.user.lastname" required/>
        <p ng-show="registerform.lastname.$invalid && registerform.lastname.$dirty" class="gl-field-error hide">{{ 'REGISTER_FORM.VALID_LAST_NAME' | translate }}</p>
      </div>

      <div class="form-group">
        <label for="email">{{ 'EMAIL' | translate }}</label>
        <input class="form-control middle" id="email" type="email" name="email" ng-model="register.user.email" required/>
        <p ng-show="registerform.email.$invalid && registerform.email.$dirty" class="gl-field-error hide">{{ 'REGISTER_FORM.VALID_EMAIL' | translate }}</p>
      </div>

      <div class="form-group">
        <label for="password">{{ 'PASSWORD' | translate }}</label>
        <input class="form-control middle" id="password"  ng-minlength="6" ng-maxlength="20" type="password" name="password" ng-model="register.user.password" required/>
        <p ng-show="registerform.password.$error.minlength  && registerform.password.$dirty" class="gl-field-error hide">{{ 'REGISTER_FORM.PASSWORD_MIN_LENGTH' | translate }}</p>
        <p ng-show="registerform.password.$error.maxlenght  && registerform.password.$dirty" class="gl-field-error hide">{{ 'REGISTER_FORM.PASSWORD_MAX_LENGTH' | translate }}</p>
      </div>

      <div class="form-group append-bottom-20">
        <label for="passwordConf">{{ 'REGISTER_FORM.PASSWORD_CONFIRMATION' | translate }}</label>
        <input class="form-control bottom" id="passwordConf" ng-minlength="6" ng-maxlength="20" type="password" name="password_confirmation" ng-model="register.user.passwordConfirmation" required/>
        <p ng-show="register.passwordMatch(registerform)  && registerform.password_confirmation.$dirty" class="gl-field-error hide">{{ 'REGISTER_FORM.VALID_PASSWORD_CONFIRMATION' | translate }}</p>
      </div>

      <p ng-if="register.errorMessage !== ''" class="errorMessage">{{register.errorMessage}}</p>
      <button type="submit" ng-disabled="registerform.$invalid" class="btn btn-register btn-block">{{ 'REGISTER_FORM.SIGN_UP' | translate}}</button>
    </form>
  </div>
  <div class="clearfix submit-container">
     <p>
        <span class="light">Didn't receive a confirmation email?</span>
        <a href="/users/confirmation/new">Request a new one</a>.
     </p>
  </div>
</div>
