body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.42857143;
  color: rgba(0,0,0,0.85);
  background-color: #fff;
}
.containerAlfoorsa{
  border: 1px solid black;
  display: block;
  margin: 0 auto;
}
.errorMessage{
  color: red;
}

.indexImage{
  width: 400px;
  height: 400px;
}

.image{
  float:left;
  position: relative;
  width: 30%;
  padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.imageIcons{
  width: 30px;
  height: 30px;
  background-image: none ;
}
#bootstrap-overrides input .form-control,{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 16px;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgba(0,0,0,0.85);
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.login-page .new-session-tabs {
    display: flex;
    box-shadow: 0 0 0 1px #e5e5e5;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.nav-links {
    padding: 0;
    margin: 0;
    list-style: none;
    height: auto;
    border-bottom: 1px solid #e5e5e5;
}
.login-page .new-session-tabs li.active {
    border-bottom: 1px solid #e5e5e5;
}
.login-page .new-session-tabs li:first-of-type {
    border-left: none;
    border-top-left-radius: 2px;
}
.login-page .new-session-tabs li {
    flex: 1;
    text-align: center;
    border-left: 1px solid #e5e5e5;
}
.nav-links li {
    display: inline-block;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.login-page .new-session-tabs li.active a {
    border: none;
    border-bottom: 2px solid #4a8bee;
    color: #000;
}
.login-page .new-session-tabs li a {
    width: 100%;
    font-size: 18px;
}
.nav-links li.active a {
    border-bottom: 2px solid #4a8bee;
    color: #000;
    font-weight: 600;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555555;
    background-color: #fff;
    cursor: default;
}
.nav-links li a {
    display: inline-block;
    padding: 10px;
    padding-bottom: 11px;
    margin-bottom: -1px;
    font-size: 14px;
    line-height: 28px;
    color: rgba(0,0,0,0.55);
    border-bottom: 2px solid transparent;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;
}
a {
  transition: background-color 100ms linear, color 100ms linear, border 100ms linear;
  color: #3777b0;
  text-decoration: none;
  background-color: transparent;
}
.tab-content {
    overflow: visible;
}
.login-page .login-box, .login-page .omniauth-container {
    box-shadow: 0 0 0 1px #e5e5e5;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 15px;
}
.login-page .login-box .login-body, .login-page .omniauth-container .login-body {
    font-size: 13px;
}
.login-page label {
    font-weight: normal;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.login-page .submit-container {
    margin-top: 16px;
}
.btn.btn-success, .btn.btn-new, .btn.btn-create, .btn.comment-btn, .btn.btn-save {
    background-color: #3cbd70;
    border-color: #36aa65;
    color: #fff;
}
.btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-register:hover, .btn.btn-register:focus {
    background-color: #1a97d5;
    border-color: #1887be;
    color: #fff;
}
.btn.btn-info, .btn.btn-register {
    background-color: #2ea8e5;
    border-color: #1c9dde;
    color: #fff;
}
.btn:hover, .btn:focus {
    background-color: #f0f0f0;
    border-color: #e3e3e3;
    color: rgba(0,0,0,0.85);
}
.btn:hover, .btn:focus, .btn.focus {
    color: rgba(0,0,0,0.85);
    text-decoration: none;
}
.login-page .container {
    max-width: 960px;
}
.navless-container {
    margin-top: 50px;
    padding-top: 32px;
}
