<div class="login-box tab-pane active" role="tabpanel">
  <div class="login-body" ng-controller="LoginCtrl as login">
    <form class="new_user gl-show-field-errors" name="loginForm" method="post" ng-submit="login.login()" novalidate>
      <div class="form-group">
        <label for="email">{{ 'EMAIL' | translate}}</label>
        <input class="form-control" id="email" type="email" name="email" ng-model="login.user.email" placeholder="{{ 'EMAIL_IE' | translate}}" required/>
      </div>
      <div class="form-group">
        <label for="password">{{ 'PASSWORD' | translate }}</label>
        <input class="form-control" id="password" ng-minlength="6" ng-maxlength="20" type="password" name="password" ng-model="login.user.password" placeholder="******" required/>
      </div>

      <div class="remember-me checkbox">
         <label for="user_remember_me">
         <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
         <span>{{ 'REMEMBER' | translate }}</span>
         </label>
         <div class="pull-right forgot-password">
            <a href="/users/password/new">{{'FORGOT_PASSWORD' | translate }}</a>
         </div>
      </div>
      <p ng-if="login.errorMessage !== ''" class="gl-field-error hide">{{login.errorMessage}}</p>
      <div class="submit-container move-submit-down">
        <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-save btn-block">{{ 'LOGIN_FORM.LOGIN' | translate}}</button>
      </div>
    </form>
  </div>
</div>
